<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 5 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load static %}
<html lang="{% static 'en' %}">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <title>student reports</title>
  
    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css" rel="stylesheet' %}" type="text/css">
     <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="vendor/dataTables/datatables.min.css"/>
    <script href="vendor/datatables/jquery.dataTables.min.css" rel="stylesheet"></script>

  </head>
<body class="container">
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h1 class="m-0 font-weight-bold text-primary">Faculty Lectures Report</h1>
      <h1 align="right">{{dt}}</h1>
    </div>
    
    <div>
    <div class="row" align="center">
    
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead> 
          <tr>
               <td colspan="2"><h2>Faculty Name : {{name}}</h2></td>
            </tr></thead> 
          <thead align="center">
            <tr role="row">
       <th>Subject Name</th>
       <th>Total No. of Lectures</th>
    </tr>
    </thead>
   <tbody>
    {%for each in data%}
    <tr align="center">
        
        <td>
            {{each.0}}
        </td>
        <td align="center">
            {{each.1}}
        </td> 
    </tr>
    
    {% endfor %}
    
    
</tbody>
  </table>

</div>
</div>
</div>
</div>
</div>

</body>
</html>