{% extends 'index.html'%}
{% block content %}

    
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Complaint Table regarding Student Attendance</h6>
    </div>
    
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead align="center">
            <tr role="row">
            <th>ID</th>
            <th>Student ID</th>
            <th>Complaint Message</th>
         </tr>
         <tbody>
    {%for each in form%}
    <tr>
        
        <td align="center">
            {{each.cid}}
        </td>
        <td align="center">
            {{each.Std}}
        </td>
        <td align="center">
            {{each.msg}}
        </td>
    </tr>
    {% endfor %}
</tbody>
  </table>
{% endblock content %}