{% extends 'student/index.html'%}
{% block content %}
<h3 class=" text-center text-primary">Student Compaints</h3>
<div class="container" align='center'>
<form  method="POST" action='add_complaint/'>
    {% csrf_token %}
    <p class=' text-success'>{{success}}</p>
    <table class=" table" align="center">
      <tr>
        <td> <label>Student ID:</label></td>
        <!--<td><input type="text" class="form-control" name='Std' placeholder="{{form.std_id}}">--></td>
        <td>{{cmp.Std}}</td>
      </tr>
      <tr>
        <td> <label>Compaint Message:</label></td>
        <!--<td><input type="text" class="form-control" name='msg' placeholder="Enter your message..."></td>-->
        <td>{{cmp.msg}}</td>
      </tr>
    </table>
    <div align='center'>
    <button type="submit" class="btn btn-primary">Submit</button>
</div>
  </form>
</div>
{%endblock content%}