{% extends 'student/index.html'%}
{%block content%}

<h3 class=" text-center text-primary">Student Profile</h3>
<table  class=" table table-striped" align="center">
    <tr align="center">
        <td>ID:</td>
        <td>{{form.std_id}}</td>
    </tr>
    <tr align="center">
        <td>Roll No:</td>
        <td>{{form.Roll_no}}</td>
    </tr>
    <tr align="center">
        <td>Name:</td>
        <td>{{form.name}}</td>
    </tr>
    <tr align="center">
        <td>Address:</td>
        <td>{{form.address}}</td>
    </tr>
    <tr align="center">
        <td>Phone:</td>
        <td>{{form.phone}}</td>
    </tr>
    <tr align="center">
        <td>Email:</td>
        <td>{{form.email}}</td>
    </tr>
</table>
{% endblock content%}